extends layout

block content
    - var PROFILE = true
    div(class="userHeader")
        div(class="userAvatar")
            a(href="#")
                img(src="/icons/avatarwhite.png", alt="Avatar de joueur")
        div(class="userStats")
            p= userLogs.username
            p(class="userLevel") Level 
                if userLogs.level
                    | #{userLogs.level}
                else
                    | ??
            a(class="edit editInfos", href="#", @click="showUserEditForm('username')")
                img(src="/icons/editwhite.png", alt="Icône éditer")
    div(class="userBody")
        div(class="userBodyInfos")
            div(class="loggedUserEmail")
                p Adresse email :
                p(style="color: #FFF066")= userLogs.email
                a(class="edit editInfos", href="#", @click="showUserEditForm('email')")
                    img(src="/icons/editwhite.png", alt="Icône éditer")
            div(class="loggedUserPassword")
                p Mot de passe :
                a(href="#", @click="showUserEditForm('password')") Modifier mon mot de passe
    div(class="userEditForm")
        form(v-if="editUsername", action="/updateUsername", method="POST")
            h4 Changer de nom d'utilisateur
            input(type="text", name="newUsername", required)
            input(type="submit")
            button(class="closeButton", @click.prevent="closeUserEditForm('username')")
                img(src="/icons/closewhite.png", alt="Icône fermer")
        form(v-if="editEmail", action="/updateEmail", method="POST")
            h4 Changer d'adresse email
            input(type="text", name="newEmail", required)
            input(type="submit")
            button(class="closeButton", @click.prevent="closeUserEditForm('email')")
                img(src="/icons/closewhite.png", alt="Icône fermer")
        form(v-if="editPassword", action="/updatePassword", method="POST")
            h4 Changer de mot de passe
            input(type="password", name="password", placeholder="Mot de passe actuel", required)
            input(type="password", name="newPassword", placeholder="Nouveau mot de passe" required)
            input(type="submit")
            button(class="closeButton", @click.prevent="closeUserEditForm('password')")
                img(src="/icons/closewhite.png", alt="Icône fermer")