extends ../layout

block content
    img(src="images/light_theme/l_mwbanner.png", alt="Bannière MixedWords")
    div(class="easy")
        div(class="easycolumn")
            div(class="columnletter")
                p M
            div(class="columnletter")
                p P
            div(class="columnletter")
                p O
            div(class="columnletter")
                p L
            div(class="columnletter")
                p O 
        div(class="easycolumn")
            div(class="columnletter")
                p D
            div(class="columnletter")
                p A
            div(class="columnletter")
                p Y
            div(class="columnletter")
                p X
            div(class="columnletter")
                p F
        div(class="easycolumn")
            div(class="columnletter")
                p A
            div(class="columnletter")
                p I
            div(class="columnletter")
                p Z
            div(class="columnletter")
                p R
            div(class="columnletter")
                p I
        div(class="easycolumn")
            div(class="columnletter")
                p C
            div(class="columnletter")
                p O
            div(class="columnletter")
                p N
            div(class="columnletter")
                p D
            div(class="columnletter")
                p A
        div(class="easycolumn")
            div(class="columnletter")
                p I
            div(class="columnletter")
                p Ê
            div(class="columnletter")
                p U
            div(class="columnletter")
                p A
            div(class="columnletter")
                p A
        div(class="easycolumn")
            div(class="columnletter")
                p A
            div(class="columnletter")
                p A
            div(class="columnletter")
                p L
            div(class="columnletter")
                p É
            div(class="columnletter")
                p S
    div(class="wordsContainer")
        div(class="wordsList")
        div(class="wordsNav")
            a(href="/profile")
                img(src="images/avatar.png", alt="Bouton profil")
            a(href="/leaderboard")
                img(src="images/light_theme/l_mwscore.png", alt="Bouton score")
            button(@click="showOption()")
                img(src="images/gearing.png", alt="Bouton option")
    div(id="optionModal", class="optionModal")
        div(class="divHeader")
            h3 Option
            button(class="closeButton", @click="hideOption()")
                img(src="images/cross.png", alt="Bouton fermer")
        div(class="divContent")
    div(id="gameRules" class="gameRules")
        button(class="closeButton", @click="hideRules()")
                img(src="images/cross.png", alt="Bouton fermer")
        h3 Règles du jeu
        p Retrouve tous les mots de la liste dans la grille.
        p Ils peuvent être mêlés horizontalement, verticalement, en diagonale et écrits aussi bien à l'endroit qu'à l'envers.
        p Une même lettre peut être utilisée dans plusieurs mots à la fois.
        p Quand tu as repéré un mot, sélectionne la première lettre, reste selectionné jusqu'à la dernière lettre puis relâche la sélection.
        p Le mot trouvé reste surligné et apparait barré dans la liste des mots à trouver.
        div
            label(for="nodisplay", class="dontShowAgain") Ne plus afficher ce message    
            input(id="nodisplay", type="checkbox", name="noRules") 




