extends ../layout

block content
    - var GAMEHARD = true
    div(id="gridContent")
        div(id="grid", class="mediumGrid")
            div(class="box", data-word="Divergente") E
            div(class="box", data-word="Divergente") T
            div(class="box", data-word="Divergente") N
            div(class="box", data-word="Divergente") E
            div(class="box", data-word="Divergente") G
            div(class="box", data-word="Divergente") R
            div(class="box", data-word="Divergente") E
            div(class="box", data-word="Divergente") V
            div(class="box", data-word="Divergente") I
            div(class="box", data-word="Divergente") D
            div(class="box", data-word="Avengers") S
            div(class="box", data-word="Serenity") S
            div(class="box") E
            div(class="box") B
            div(class="box") I
            div(class="box") L
            div(class="box") U
            div(class="box") C
            div(class="box") U
            div(class="box", data-word="Hellboy") H
            div(class="box", data-word="Avengers") R
            div(class="box", data-word="Serenity") E
            div(class="box", data-word="Blade") B
            div(class="box", data-word="Creed") C
            div(class="box") E
            div(class="box", data-word="Solo") S
            div(class="box") O
            div(class="box") A
            div(class="box", data-word="Hellboy") E
            div(class="box", data-word="Aquaman") A
            div(class="box", data-word="Avengers") E
            div(class="box", data-word="Serenity") R
            div(class="box", data-word="Blade") L
            div(class="box") I
            div(class="box", data-word="Creed") R
            div(class="box") R
            div(class="box", data-word="Solo") O
            div(class="box", data-word="Hellboy") L
            div(class="box") D
            div(class="box", data-word="Aquaman") Q
            div(class="box", data-word="Avengers") G
            div(class="box", data-word="Serenity") E
            div(class="box", data-word="Blade") A
            div(class="box") K
            div(class="box") N
            div(class="box", data-word="Creed") E
            div(class="box", data-word="Hellboy") L
            div(class="box", data-word="Solo") L
            div(class="box") G
            div(class="box", data-word="Aquaman") U
            div(class="box", data-word="Avengers") N
            div(class="box", data-word="Serenity") N
            div(class="box", data-word="Blade") D
            div(class="box") E
            div(class="box") V
            div(class="box", data-word="Hellboy") B
            div(class="box", data-word="Creed") E
            div(class="box", data-word="Tennis") N
            div(class="box", data-word="Solo") O
            div(class="box", data-word="Aquaman") A
            div(class="box", data-word="Avengers") E
            div(class="box", data-word="Serenity") I
            div(class="box", data-word="Blade") E
            div(class="box") H
            div(class="box", data-word="Hellboy") O
            div(class="box") U
            div(class="box") W
            div(class="box", data-word="Creed") D
            div(class="box") E
            div(class="box", data-word="Aquaman") M
            div(class="box", data-word="Avengers") V
            div(class="box", data-word="Serenity") T
            div(class="box") H
            div(class="box", data-word="Hellboy") Y
            div(class="box") L
            div(class="box") R
            div(class="box") V
            div(class="box") I
            div(class="box") H
            div(class="box", data-word="Aquaman") A
            div(class="box", data-word="Avengers") A
            div(class="box", data-word="Serenity") Y
            div(class="box") S
            div(class="box", data-word="Matrix") X
            div(class="box", data-word="Matrix") I
            div(class="box", data-word="Matrix") R
            div(class="box", data-word="Matrix") T
            div(class="box", data-word="Matrix") A
            div(class="box", data-word="Matrix") M
            div(class="box", data-word="Aquaman") N
            div(class="box", data-word="Downsizing") G
            div(class="box", data-word="Downsizing") N
            div(class="box", data-word="Downsizing") I
            div(class="box", data-word="Downsizing") Z
            div(class="box", data-word="Downsizing") I
            div(class="box", data-word="Downsizing") S
            div(class="box", data-word="Downsizing") N
            div(class="box", data-word="Downsizing") W
            div(class="box", data-word="Downsizing") O
            div(class="box", data-word="Downsizing") D
    div(id="listContainer")
        ul(id="list")
            li Avengers
            li Matrix
            li Hellboy
            li Creed
            li Divergente
            li Aquaman
            li Serenity
            li Blade
            li Downsizing
            li Solo
        div(id="restart")
            a(href="https://people.ucsc.edu/~jelcolli/art101/final/win.html") Click Here