extends ../layout

block content
    - var GAMEEASY = true
    div(id="gridContent")
        div(id="grid", class="easyGrid")
            div(class="box", data-word="But") B
            div(class="box", data-word="But") U
            div(class="box", data-word="But") T
            div(class="box", data-word="Set") T
            div(class="box", data-word="Dunk") K
            div(class="box") K
            div(class="box", data-word="Libero") L
            div(class="box", data-word="Handball") L
            div(class="box", data-word="Joueur") R
            div(class="box") C
            div(class="box") F
            div(class="box", data-word="Dunk") N
            div(class="box", data-word="Set") E
            div(class="box") B
            div(class="box", data-word="Libero") I
            div(class="box", data-word="Handball") L
            div(class="box", data-word="Joueur") U
            div(class="box", data-word="Corner") C
            div(class="box", data-word="Dunk") U
            div(class="box") T
            div(class="box", data-word="Foot") T
            div(class="box", data-word="Set") S
            div(class="box", data-word="Libero") B
            div(class="box", data-word="Handball") A
            div(class="box", data-word="Joueur") E
            div(class="box", data-word="Dunk") D
            div(class="box", data-word="Corner") O
            div(class="box", data-word="Foot") O
            div(class="box") O
            div(class="box") L
            div(class="box", data-word="Libero") E
            div(class="box", data-word="Handball") B
            div(class="box", data-word="Joueur") U
            div(class="box") I
            div(class="box", data-word="Foot") O
            div(class="box", data-word="Corner") R
            div(class="box", data-word="Ski") I
            div(class="box") F
            div(class="box", data-word="Libero") R
            div(class="box", data-word="Handball") D
            div(class="box", data-word="Joueur") O
            div(class="box", data-word="Foot") F
            div(class="box") N
            div(class="box", data-word="Ski") K
            div(class="box", data-word="Corner") N
            div(class="box") O
            div(class="box", data-word="Libero") O
            div(class="box", data-word="Handball") N
            div(class="box", data-word="Joueur") J
            div(class="box") G
            div(class="box", data-word="Ski") S
            div(class="box") D
            div(class="box") D
            div(class="box", data-word="Corner") E
            div(class="box") V
            div(class="box", data-word="Handball") A
            div(class="box", data-word="Tennis") T
            div(class="box", data-word="Tennis") E
            div(class="box", data-word="Tennis") N
            div(class="box", data-word="Tennis") N
            div(class="box", data-word="Tennis") I
            div(class="box", data-word="Tennis") S
            div(class="box", data-word="Corner") R
            div(class="box", data-word="Handball") H
    div(id="listContainer")
        ul(id="list")
            li But
            li Corner
            li Handball
            li Foot
            li Tennis
            li Ski
            li Libero
            li Dunk
            li Joueur
            li Set
        div(id="restart")
            a(href="https://people.ucsc.edu/~jelcolli/art101/final/win.html") Click Here