extends layout

block content
    div(class="smartphoneContent")
        div(class="homepageButtons")
            button(class="heartbeat", @click="showPlay()")
                img(src="images/light_theme/l_mwjouer.png", alt="Bouton jouer")
            button(class="heartbeat", @click="showOption()")
                img(src="images/light_theme/l_mwoption.png", alt="Bouton option")
        a(class="mwScore", href="/leaderboard")
            img(src="images/award.png", alt="Image d'un trophé")
        div(id="playModal", class="playModal")
            div(class="divHeader")
                h3 Connexion
                button(class="closeButton", @click="hidePlay()")
                    img(src="images/cross.png", alt="Bouton fermer")
            div(class="divContent")
                form(action="/login", method="POST")
                    label(for="username") Nom d'utilisateur
                    input(id="username", type="text", name="username", required)
                    label(for="password") Mot de passe
                    input(id="password", type="password", name="password", required)
                    button(type="submit", class="heartbeat")
                        img(src="images/light_theme/l_mwvalider.png", alt="Bouton valider")
                p Pas encore inscrit ? Rejoins-nous et 
                    a(href="/register") créer un compte !
        div(id="optionModal", class="optionModal")
            div(class="divHeader")
                h3 Option
                button(class="closeButton", @click="hideOption()")
                    img(src="images/cross.png", alt="Bouton fermer")
            div(class="divContent")
                img(class="imgTheme" src="images/sound.png", alt="Image volume")
                label(class="switch")
                    input(type="checkbox" checked)
                    span(class="slider round")
                img(class="imgTheme" src="images/theme.png" alt="Image theme")
                label(class="switch2")
                    input(type="checkbox" checked)
                    span(class="slider2 round2")
    div(class="desktopContent")
        h2 Bienvenue
        div(class="desktopRules rules-scale-in-center")
            h3 Règles du jeu
            p Retrouve tous les mots de la liste dans la grille.
            p Ils peuvent être mêlés horizontalement, verticalement, en diagonale et écrits aussi bien à l'endroit qu'à l'envers.
            p Une même lettre peut être utilisée dans plusieurs mots à la fois.
            p Quand tu as repéré un mot, sélectionne la première lettre, reste selectionné jusqu'à la dernière lettre puis relâche la sélection.
            p Le mot trouvé reste surligné et apparait barré dans la liste des mots à trouver.
        a(href="#", @click="")
            img(src="images/light_theme/l_mwjouer.png", alt="Bouton jouer")
        div(id="desktopOption", class="desktopOption")
            div(class="divHeader")
                h3 Option
                button(class="closeButton", @click="closeDesktopOption()")
                    img(src="images/cross.png", alt="Bouton fermer")    
            div(class="divContent")
                img(class="imgTheme" src="images/sound.png", alt="Image volume")
                label(class="switch")
                    input(type="checkbox" checked)
                    span(class="slider round")
                img(class="imgTheme" src="images/theme.png" alt="Image theme")
                label(class="switch2")
                    input(type="checkbox" checked)
                    span(class="slider2 round2")
        div(class="registerDropdown")
            form(action="/register", method="POST")
                label(for="usernameDrop") Nom d'utilisateur
                input(id="usernameDrop", type="text", name="username")
                label(for="emailDrop") Adresse email
                input(id="emailDrop", type="email", name="email")
                label(for="passwordDrop") Mot de passe
                input(id="passwordDrop", type="password", name="password")
                label(for="passwordConfirmationDrop") Confirmation du mot de passe
                input(id="passwordConfirmationDrop", type="password", name="passwordConfirmation")
                button(type="submit")
                    img(src="images/light_theme/l_mwvalider.png", alt="Bouton valider")
        div(class="loginDropdown")
            form(action="/login", method="POST")
                div
                    label(for="usernameDrop2")
                        img(src="images/avatar.png", alt="Image d'avatar")
                    input(id="usernameDrop2", type="text", name="username", placeholder="Nom d'utilisateur")
                div
                    labellabel(for="passwordDrop2")
                        img(src="images/lock.png", alt="Image d'un cadenas")
                    input(type="passwordDrop2", name="password", placeholder="Mot de passe")
                button(type="submit")
                    img(src="images/light_theme/l_mwvalider.png", alt="Bouton valider")