extends layout

block content
    - var PROFILE = true
    div(class="userHeader")
        div(class="userAvatar")
            a(href="#")
                img(src="/icons/avatarwhite.png", alt="Avatar de joueur")
        div(class="userStats")
            p= userLogs.username
            p(class="userLevel") Level 
                if userLogs.level
                    | #{userLogs.level}
                else
                    | ??
            a(class="edit editUsername", href="#", @click="showUserEditForm()")
                img(src="/icons/editwhite.png", alt="Icône éditer")
    div(class="userBody")
    div(class="userEditForm")
        form(v-if="editUsername", action="/updateUser", method="POST")
            h4 Changer de nom d'utilisateur
            input(type="text", name="newUsername", required)
            input(type="submit")
            button(class="closeButton", @click="closeUserEditForm()")
                img(src="/icons/closewhite.png", alt="Icône fermer")