extends layout

block content
    div(class="profileHeader")
        div(class="playerAvatar")
            img(src="images/avatar.png", alt="")
        div(class="playerName")
            p Guest789574
    div(class="profileContent")
        div(class="userEntries")