extends layout

block content
    - var REGISTER = true
    h2 Inscription
    div(id="form", class="registerForm")
        form(action="/register", method="POST")
            p(v-if="error", class="errorMessage") {{ errorMessage }}
            if ERROR
                p(class="errorMessage") #{errormsg}
            div
                label(for="username") Nom d'utilisateur
                input(id="username", type="text", name="username", v-model="username", required)
            div
                label(for="email") Adresse email
                input(id="email", type="email", name="email", v-model="email",  required)
            div
                label(for="password") Mot de passe
                input(id="password", type="password", name="password", v-model="password",  required)
            div
                label(for="passwordConfirmation") Mot de passe ( Confirmation )
                input(id="passwordConfirmation", type="password", name="passwordConfirmation", v-model="passwordConfirmation",  required)
            input(type="submit")